# Xojo (formerly REALbasic and Real Studio)

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete
sd_ebay_pneuss_job copia 2.xojo_binary_project
genericini/
*.zip
.DS_Store
.DS_Store
.DS_Store
loco/buddypress-it_IT.mo
loco/buddypress-it_IT.po
loco/buddypress.po
.DS_Store
